/* ********* */
/* @MAIN */
/* ********* */

.main{
    display: flex;
    justify-content: center;
    

}

.cajaIntroduccion{
    width: 22rem;
    height: 31rem;
    
    background-color: #D9D9D9;
}